<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>
		<%- include('../common/header.ejs') %>
		<h1>Notícia</h1>

		<table border="1" width="650">
			<tr align="center">
				<th>ID</th>
				<th>Titulo</th>
				<th>Noticia</th>
			</tr>
			<!-- insere códigos html de forma dinamica na página com <% %>
			e para imprimir conteúdo usa <%= %> -->
			
			<tr align="center">
				<td><%= noticia[0].id_noticias %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>				
			</tr>				

		</table>

	</body>
</html>